.EditListForm {
  border: 2px solid lightgray;
  border-radius: .5rem;
}
.EditListForm button {
  margin: 0 0 .5rem .5rem;
}
.EditListForm p {
  margin: .5rem;
}
.EditListForm input[name="description"] {
  display: block;
  width: 95%;
}
.EditListForm > div {
  display: flex;
}
