.ProfileForm ul {
  list-style-type: none;
}
.ProfileForm .list-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.ProfileForm .list-name {
  flex: 2;
}
.ProfileForm .list-button {
  flex: 1;
}
.ProfileForm input[name="imageURL"] {
  display: block;
  width: 95%;
}
