.ProfileForm input[name="imageURL"] {
  display: block;
  width: 95%;
}
.ProfileForm {
  max-height: calc(100vh - 8rem);
}
.ProfileForm img {
  display: block;
  margin: auto;
  padding: 1rem 0;
  max-width: 100%;
}