#root {
  display: flex;
  flex-direction: column;
}
#App-main {
  flex: auto;
  display: flex;
}
.leaflet-container {
  position: relative;
  height: 100%;
  width: 100vw;
}
svg:has([d="M0 0h12v4H0z"]) {
  display: none !important;
}